@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 16, 24, 39; /* #101827 */
    --background2: 23, 33, 47; /* #17212f */
    --primary: 18, 185, 129; /* #12b981 */
    --secondary: 50, 112, 205; /* #3270cd */
    --neutral-white: 248, 248, 249; /* #f8f8f9 */
    --gradient-start: 48, 187, 145; /* #30bb91 */
    --gradient-end: 50, 112, 205; /* #3270cd */
  }

  .dark {
    --background: 16, 24, 39; /* #101827 */
    --background2: 23, 33, 47; /* #17212f */
    --primary: 18, 185, 129; /* #12b981 */
    --secondary: 50, 112, 205; /* #3270cd */
    --neutral-white: 248, 248, 249; /* #f8f8f9 */
    --gradient-start: 48, 187, 145; /* #30bb91 */
    --gradient-end: 50, 112, 205; /* #3270cd */
  }
}
